#header_title{
    font-size: 30px;
    font-weight: 700
}

.user_posts {
    padding: 10px;
    box-sizing: border-box;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
a {
    text-decoration: none !important
}